<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Kwetter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous"></link>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/16a2b76773.js"></script>

    <script>
        $(document).ready(function () {
            $('#cards button').on('click', function () {
                if ($(this).find('i').hasClass('fa-heart')) {
                    $(this).addClass('btn-danger');
                } else {
                    let parent = $(this).parent().parent().parent().parent();
                    $('#message').text('@' + parent.find('a').text() + ' ');
                    $(this).addClass('btn-success');
                }
                $(this).find('span').text(+$(this).find('span').text() + 1)
            });
            getKweets();

            $('#searchButton').on('click', getKweets());
            $('#trends a').on('click', function () {
                getKweetsByTrend($(this).text());
            });
            $('#refreshButton').on('click', getKweets());
        });

        function getKweets() {
            let url = 'kweets';

            const searchVal = $('#search').text();
            console.log('searchval: ' + searchVal);
            if (searchVal !== '') {
                url += '/message/' + searchVal
            }

            $('#kweetList').load(url, function (response, status, xhr) {
                console.log(status);
//                console.log(response);
                console.log(xhr);
            })
        }

        function getKweetsByTrend(trend) {
            let url = 'trend/' + trend;

            console.log(url);
            console.log(this);

            $('#kweetList').load(url, function (response, status, xhr) {
                console.log(status);
//                console.log(response);
                console.log(xhr);
            })
        }

        //        function postKweet(message) {
        //            console.log(message);
        //            if (message !== '') {
        //                $.post('', {message: message}, function (response, status, xhr) {
        //                    getKweets();
        //                });
        //            }
        //        }

    </script>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Kwetter</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-auto">
            <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search"></input>
            <button class="btn btn-outline-success my-2 my-sm-0" id="searchButton">Search</button>
        </form>
    </div>
</nav>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-sm-7">
            <form action="#" th:action="@{/thymeleaf/}" th:object="${kweet}" method="post">
                <div class="form-group">
                    <label for="message">What's happening?</label>
                    <textarea type="text" class="form-control" id="message" rows="3"
                              th:field="*{message}"></textarea>
                </div>
                <button id="messageButton" class="btn btn-primary" type="submit">Post</button>
            </form>
            <div style="overflow:auto; height:500px">
                <div id="kweetList"></div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-block">
                    <h2 th:text="${account.username}"></h2>
                    <a class="lead" th:text="|${accountKweets.size()} kweets|"></a>
                    <p class="lead">Latest kweet:</p>
                    <div th:include="kweet :: alternate (${latestKweet})"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h2 class="card-text">
                        Trending
                        <button class="btn" id="refreshButton">
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                        </button>
                    </h2>
                    <div th:each="trend: ${trends}" class="card-text justify-content-between" id="trends">
                        <a th:text="${trend.name}"></a>
                        <!--<a th:href="@{/thymeleaf/(trend=${trend.name})}" th:text="${trend.name}"></a>-->
                        <span th:text="${trend.kweets.size()}" class="badge badge-pill badge-primary"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>